@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


@layer base{
  header{
    @apply w-full h-14 bg-primaryDark sticky top-0 ;
  }
  svg{
    @apply  text-white dark:text-white;
  }
}
@font-face {
  font-family: IRANSans;
  src: url('../public/fonts/IRANSans/eot/IRANSansWeb.eot');
  src: url('../public/fonts/IRANSans/eot/IRANSansWeb.eot?#iefix')
      format('embedded-opentype'),
    url('../public/fonts/IRANSans/woff/IRANSansWeb.woff') format('woff'),
    url('../public/fonts/IRANSans/ttf/IRANSansWeb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body,html {
  margin: 0;
  font-family: 'IRANSans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
   @apply scroll-smooth xs:text-xs sm:text-sm h-full
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
